.about {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: nav(--secondary-backgrounds);
    text-align: center;

    background-repeat: no-repeat;
    background-position: 0% 90%, 100% 90%;
    background-size: 40px, 69px;
}