.footer {
    background-color: var(--secondary-backgrounds);
}

.footer-title {
    width: 234px;
    margin-bottom: 40px;
}

.footer-title__text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--pink-text);

    margin-bottom: 16px;
}

.footer-title__upper {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #D41443;
}

.footer-socials {
    display: flex;
    margin-bottom: 40px;
}

.footer-socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    background-color: var(--socials-background);
    border-radius: 50%;


}

.footer-social__icon {
    fill: var(--primary-backgrounds);
}

.footer-socials__item:not(:last-child) {
    margin-right: 30px;
}

.footer-tel {
    display: flex;
    margin-bottom: 40px;
}

.footer-tel__list {
    display: flex;
    margin-left: auto;
}

.footer-tel__item:not(:last-child) {
    margin-right: 4px;
}

.footer-tel__text {
    font-weight: 700;
    font-size: 12px;
    line-height:     1.83;

    color: var(--black-text);
}

.footer-tel__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;

color: var(--red-text);
}

.footer-copyright {
    justify-content: center;
    text-align: center;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;

    border-top: 1px solid var(--border-copyrigth);
    width: 100%;
}

.footer-copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;

    color: var(--copyrigth-color);
}


