.product {
    padding: 60px 0;
    

    
&__subtitle,
&__title,
&__heading{
    font-family: 'Titan One';
    font-weight: 400;
    line-height: 1.15;

    text-align: center;
    text-transform: uppercase;
    }



&__subtitle {
    margin-bottom: 16px;

    font-size: 18px;
    color: var(--pink-text);

    @include mq (tablet){
        font-size: 26px;
    }

    @include mq (desctop) {
        font-size: 30px;
    }
}


&__title {
    font-size: 34px;
    margin-bottom: 148px;

    color: var(--red-text);  

    @include mq (tablet) {
        font-size: 48px;
        margin-bottom: 158px;
    }
    
    @include mq (desctop) {
        font-size: 58px;
        margin-bottom: 285px;
    }
}


&__text {
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: var(--white-text);
    margin-bottom: 32px;

    @include mq(desctop) {
        margin-bottom: 60px;
        font-size: 16px;
    }
}


&__grid {
    @include mq (tablet){
        display: flex;
        gap: 16px;
    }
    
    @include mq (desctop){
       gap: 30px;
    }
}

&__block {
    position: relative;
    text-align: center;
    padding: 160px 40px 40px;
    // margin-top: 132px;
    
    width: 280px;
    border-radius: 24px;
   
    
    @include mq (tablet){
        // margin-top: 136px;
        padding: 118px 32px 40px;
        width: 224px;

        flex-basis: calc((100% - 16px) / 3);
    }

    @include mq (desctop) {
        // margin-top: 252px;
        padding: 165px 63px 60px;
        width: 368px;

        flex-basis: calc((100% - 30px) / 3);
    }
}
&__block:not(:last-child) {
    @include mq (mobile-only) {
        margin-bottom: 140px;
    }

}

&__block:hover,
&__block:focus,
 {
    transform: scale(1.02);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);

    transition: 
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


&__block:hover &__svg,
&__block:focus &__svg{
    fill: var(--red-text);
}

// &__text::before {
//     position: absolute;
//     content: ' ';

//     width: 26px;
//     height: 6px;

//     top: 215px;
//     right: 127px;

//     background-repeat: no-repeat;
//     background-size: cover;
    
//     @include mq (tablet) {
//         top: 170px;
//         right: 99px;
//     }

//     @include mq (desctop) {
//         top: 228px;
//         right: 170px;
//     }
        

//     background-image: url('../images/products/ellipsis.png');

//     @include mq (retina) {
//         background-image: url('../images/products/ellipsis@2x.png');
//     }
    
// }

&__cream { 
    background-color: #FFB8CA;
}
&__coffee {
    background-color: #F0D1A5;
}
&__milkshakes {
    background-color: #C2E297;
}


&__heading {
    margin-bottom: 70px;
    font-size: 20px;

    color: var(--white-text);

    @include mq (desctop) {
        font-size: 30px;
    }
}


&__heading::before{
    position: absolute;
    content: ' ';
    
    width: 280px;
    height: 280px;
    
    top: -135px;
    right: 0px;
    
    background-repeat: no-repeat;
    background-size: cover;

    @include mq (tablet){
        width: 224px;
        height: 224px;
    }

    @include mq (desctop){
        width: 368px;
        height: 394px;
        
        top: -258px;
        right: -4px;
    }
}

&__heading--cream::before {
    background-image: url('../images/products/ice-cream.png');

    @include mq (retina) {
        background-image: url('../images/products/ice-cream-2x.png');
    }

 @include mq (tablet) {
    background-image: url('../images/products/ice-cream-tablet.png');
    
    @include mq (retina) {
        background-image: url('../images/products/ice-cream-tablet-2x.png');
    }
 }

 @include mq (desctop) {
    background-image: url('../images/products/ice-cream-desktop.png');
    
    @include mq (retina) {
        background-image: url('../images/products/ice-cream-desktop-2x.png');
    }
 }

}


&__heading--coffee::before {
    background-image: url('../images/products/ice-coffee.png');

    @include mq (retina) {
        background-image: url('../images/products/ice-coffee-2x.png');
        }

 @include mq (tablet) {
        background-image: url('../images/products/ice-coffee-tablet.png');
        
        @include mq (retina) {
            background-image: url('../images/products/ice-coffee-tablet-2x.png');
        }
    }
        
 @include mq (desctop) {
        background-image: url('../images/products/ice-coffee-desktop.png');
        
        @include mq (retina) {
            background-image: url('../images/products/ice-coffee-desktop-2x.png');
        }
    }
}


&__heading--milkshakes::before {
     background-image: url('../images/products/milkshakes.png');

    @include mq (retina) {
        background-image: url('../images/products/milkshakes-2x.png');
    }

 @include mq (tablet) {
        background-image: url('../images/products/milkshakes-tablet.png');

    @include mq (retina) {
        background-image: url('../images/products/milkshakes-tablet-2x.png');
    }
    
 @include mq (desctop) {
            background-image: url('../images/products/milkshakes-desktop.png');
    
    @include mq (retina) {
            background-image: url('../images/products/milkshakes-tablet-2x.png');
        }
    }
}
}


&__button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-text);
    border: 0;
    padding: 0;
}


&__svg {
    position: absolute;
    top: 12px;
    right: 13px;
    fill: var(--menu-backgrounds);
}





&__poprigun {
    position: absolute;

    top: 202px;
    left: 61px;

    width: 80px;
    transform: translate(50%);

    @include mq (tablet) {
        top: 154px;
        left: 34px;
    }

    @include mq (desctop){
        top: 213px;
        left: 100px;
    }
}

&__ball {
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    animation: ball .5s alternate infinite ease;
}


@keyframes ball{
    0% {
        top: 35px;
        height: 5px;
        transform: scaleX(1,7);
        background-color: #7dcc4f;
    }
    50% {
        height: 5px;
        transform: scaleX(1);
        background-color: #f3cb93;
    }
    100% {
        top: 0px;
        background-color: #e7839c;
    }

}

&__ball:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}
&__ball:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
}


.compound {
    position: absolute;

    padding: 20px 10px;
    width: 200px;
    top: 195px;

    border-radius: 24px;
    border: 2px solid #fff;
    background-color: #FFB8CA;

    opacity: 0;

    transition:
        opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @include mq (tablet-only) {
        top: 150px;
        left: 22px;
        padding: 25px 10px;
        width: 180px;
    }

    @include mq (desctop) {
        top: 203px;
        width: 242px;

    }


    &--is-hidden {
       opacity: 1;
    //    z-index: 5;
        pointer-events: none;
        transition:
            opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }



    &__subtitle,
    &__text {
        color: var(--white-text);
    }


    &__text:not(:last-child) {
        margin-bottom: 10px;

    }

    &__subtitle {
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.15;
        margin-bottom: 15px;

        text-align: center;
        text-transform: uppercase;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-block: 22px;

        @include mq (tablet-only) {
            margin-block: 29px;
        }
    }


    &__cream {
        background-color: #FFB8CA;
    }

    &__coffee {
        background-color: #F0D1A5;
    }

    &__milkshakes {
        background-color: #C2E297;
    }
}






