.swiper {
    width: 280px;
    height: 531px;
    @include mq(tablet-only) {
        width: 620px;
        height: 385px;
    }
         @include mq(desctop) {
            width: 968px;
            height: 338px;
         }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipper-describe {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    width: 157px;
    margin-left: auto;
    margin-right: auto;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 30px, #E1E1E1 31px);
    @include mq(tablet-only) {
        font-size: 14px;
            line-height: 31px;
            width: 515px;
            text-align: center;
            letter-spacing: 0.04em;
            background-image: repeating-linear-gradient(180deg, transparent, transparent 30px, #E1E1E1 31px);}
@include mq(desctop) {
            width: 750px;
                margin-right: auto;
                margin-left: auto;

    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 54px;
        height: 40px;
        background: url(../images/slider/block.png);
        top: 20px;
        right: 180px;
        opacity: 0.45;
        @include mq(tablet-only) {
        top: 18px;
            right: 550px;
        }
                @include mq(desctop) {
                        top: 17px;
                            right: 822px;
                }
    }
}

.swipper-p {
    margin: 0;
    position: relative;
    padding: 30px;
    width: 280px;
@include mq(desctop) {
        width: 968px;
    }
        @include mq(tablet-only) {
        width: 620px;
        }
}

.swipper-image {
    width: 85px;
    height: 85px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.swipper-back {
    background-color: #FAFAFA;
    margin: 0;
}

.quotes {
    display: flex;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    padding-inline-start: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 16px;
}

.qou {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    align-items: center;
    margin-right: 10px;
    background-color: rgba(199, 19, 62, 1);
}

.name {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    @include mq(tablet-only) {
        margin-bottom: 32px;
        font-size: 16px;
    }

}
.swp {
padding: 60px 0;
padding-bottom: 0;
@include mq(tablet-only) {
    padding: 60px 0 20px 0;
}
@include mq(desctop) {
    padding: 120px 0;
    padding-bottom: 60px;
}
}
