:root {
  --red-text: #d41443;
  --pink-text: #ffa5ba;
  --black-text: #000000;
  --white-text: #ffffff;
//   Цвет текста в контактах
  --contact-text: rgba(144, 126, 130, 1);


  --color-focus: #ecebeb;
//   Ховер и фокус на розовую кнопку
  --color-focus-btn:#FFB8CA;

  --map-backgrounds: rgba(255, 245, 246, 0.5);

  --primary-backgrounds: #ffffff;
  --secondary-backgrounds: #fff5f6;
  --menu-backgrounds: #e17992;
  --socials-background: #FEA5BB;
//   Фон для красных кнопок
  --button--bg: #d41443;
// copyrigth
--copyrigth-color: #907E82;
--border-copyrigth: #E1E1E1;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: var(--black-text);
  
}
