<section class="contact">
  <div class="container">
    <h2 class="contact__title visually-hidden">Contacts</h2>
    <ul class="contact__list list">
      <li class="contact__item card">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Chicago</p>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contact__item card">
        <b class="contact__name contact__name--secondary-bg">FOOD TRUCK</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Los Angeles</p>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contact__item card">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">New York</p>
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div>
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="button-thumb">
      <button class="button contact-secondary-btn" type="button" data-modal-open>Our Locations <span class="button-thumb__icon">&#8250</span></button>
      <button class="button contact-primary-btn">Franchise <span class="button-thumb__icon">&#8250</span></button>
    </div>
  </div>
</section>


<!-- /Карта адресов -->
<div class="backdrop backdrop--is-hidden" data-modal>
   <div class="map">
      <button class="map__close-btn" type="button" data-modal-close> <svg
         class="modal-window__icon-close"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 320 512"
         width="16"
         height="16"
       >
         <path
           d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
         />
       </svg>
      </button>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6859466.272912764!2d-101.55269863369826!3d32.915382500000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9e5f234ac179%3A0x68eacdafa3df8e83!2sHowdy%20Homemade%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1656309189392!5m2!1sru!2sua" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
</div>

