    <section class="contact">
      <div class="container">
        <h2 class="contact__title visually-hidden">Contacts</h2>
        <ul class="contact__list list">
          <li class="contact__item card">
            <b class="contact__name">CAFE</b>
            <ul class="card__list list">
              <li class="card__item">
                <p class="card__title">Chicago</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </li>
              <li class="card__item">
               <div class="card__thumb">
                  <p class="card__title">Monday - Friday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                  <p class="card__title">Saturday - Sunday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="card__item">
                <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__link" href="">noreply@envato.com</a>
              </li>
            </ul>
          </li>
          <li class="contact__item card">
            <b class="contact__name contact__name--secondary-bg">FOOD TRUCK</b>
            <ul class="card__list list">
              <li class="card__item">
                <p class="card__title">Los Angeles</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </li>
              <li class="card__item">
               <div class="card__thumb">
                  <p class="card__title">Monday - Friday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                  <p class="card__title">Saturday - Sunday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="card__item">
                <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__link" href="">noreply@envato.com</a>
              </li>
            </ul>
          </li>
          <li class="contact__item card">
            <b class="contact__name">CAFE</b>
            <ul class="card__list list">
              <li class="card__item">
                <p class="card__title">New York</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </li>
              <li class="card__item">
                <div class="card__thumb">
                  <p class="card__title">Monday - Friday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                  <p class="card__title">Saturday - Sunday</p>
                  <p class="card__time">06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="card__item">
                <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__link" href="">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
        
         <button class="button contact-secondary-btn ">Our Locations</button>
         <button class="button contact-primary-btn ">Franchise</button>
        
      </div>
    </section>
  
