<section class="gallery">
  <div class="container container--not-desctop">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <ul class="gallery__grid">
      <li class="gallery__item gallery__item-1">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery1_large.jpg    1x,
              ./images/gallery/gallery1_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery1_middle.jpg    1x,
              ./images/gallery/gallery1_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery1_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery2_large.jpg    1x,
              ./images/gallery/gallery2_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery2_middle.jpg    1x,
              ./images/gallery/gallery2_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery2_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-3">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery3_large.jpg    1x,
              ./images/gallery/gallery3_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery3_middle.jpg    1x,
              ./images/gallery/gallery3_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery3_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-4">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery4_large.jpg    1x,
              ./images/gallery/gallery4_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery4_middle.jpg    1x,
              ./images/gallery/gallery4_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery4_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-5">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery5_large.jpg    1x,
              ./images/gallery/gallery5_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery5_middle.jpg    1x,
              ./images/gallery/gallery5_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery5_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-6">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery6_large.jpg    1x,
              ./images/gallery/gallery6_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery6_middle.jpg    1x,
              ./images/gallery/gallery6_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery6_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-7">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery7_large.jpg    1x,
              ./images/gallery/gallery7_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery7_middle.jpg    1x,
              ./images/gallery/gallery7_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery7_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-8">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery8_large.jpg    1x,
              ./images/gallery/gallery8_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery8_middle.jpg    1x,
              ./images/gallery/gallery8_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery8_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-9">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery9_large.jpg    1x,
              ./images/gallery/gallery9_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery9_middle.jpg    1x,
              ./images/gallery/gallery9_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery9_large.jpg" alt="мороженое" />
        </picture>
      </li>
      <li class="gallery__item gallery__item-10">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery10_large.jpg    1x,
              ./images/gallery/gallery10_large@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery10_middle.jpg    1x,
              ./images/gallery/gallery10_middle@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./images/gallery/gallery10_large.jpg" alt="мороженое" />
        </picture>
      </li>
    </ul>
  </div>
</section>
