<!--======================
    ХЕДЕР-ГЕРОЙ
    ======================-->
   
<section class="header">
  <div class="header__container container">
    <div class="header__wrap">
      <a class="header__logo" href="">
        <img src="./images/header-hero/logo.svg" alt="logo" />
      </a>

      <ul class="header__menu-desctop">
        <li class="header__menu-item">
          <a class="header__menu-link" href="">Home</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">About us</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="">How it’s made?</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#product-section">Our products</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#contacts-section">Contact</a>
        </li>
      </ul>

      <!-- =============================
   КНОПКА ОТКРЫТИЯ-ЗАКРЫТИЯ МЕНЮ
   =============================  -->

      <div class="header__tablet-wrap">
        <button
          class="header__menu-button"
          type="button"
          data-menu-button
          aria-expanded="false"
          aria-controls="header__mob-menu"
        >
          <svg
            width="20px"
            height="14px"
            aria-label="Переключатель мобильного меню"
          >
            <use
              class="header__icon-burger"
              href="./images/header-hero/mob-tab_menu/sprite_burger-cross.svg#icon-burger"
            ></use>
            <use
              class="header__icon-close"
              href="./images/header-hero/mob-tab_menu/sprite_burger-cross.svg#icon-cross"
            ></use>
          </svg>
        </button>

        <!-- МОДАЛЬНОЕ ОКНО -->

        <button class="header__menu-btn" type="button" data-modal-open>
          <span class="mob-menu__btn-text">Buy now</span>
        </button>

        <div class="backdrop is-hidden" data-modal>
          <div class="modal-wrapper">
            <button class="modal-button" data-modal-close>
              <svg class="icon-close" width="18px" height="18px">
                <use
                  href="./images/header-hero/mob-tab_menu/sprite_burger-cross.svg#icon-cross"
                ></use>
              </svg>
            </button>

            <strong class="form-title">Pay your order</strong>
            <form class="modal-form">
              <label class="form-modal-group">
                <span class="form-modal-label">Name on Card</span>
                <input
                  class="form-modal-input"
                  type="text"
                  name="user-name"
                  placeholder="John Smith"
                />
              </label>

              <label class="form-modal-group">
                <span class="form-modal-label">Expiry</span>
                <input
                  class="form-modal-input"
                  type="tel"
                  name="user-phone"
                  placeholder="06/24"
                />
              </label>

              <label class="form-modal-group">
                <span class="form-modal-label">Number card</span>
                <input
                  class="form-modal-input"
                  type="email"
                  name="user-mail"
                  placeholder="1111 2222 3333 4444"
                />
              </label>

              <label class="form-modal-group">
                <span class="form-modal-label">CVV</span>
                <input
                  class="form-modal-input"
                  type="email"
                  name="user-mail"
                  placeholder="123"
                />
              </label>
              <div class="wrap-button">
                <button class="btn-send send-pay" type="submit">Pay</button>
                <button class="btn-send send-cancel" type="submit">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- 
    =======================
    ГЕРОЙ
    ======================= -->

    <div class="hero header__hero">
    

      <!-- ELLIPSE -->
      <picture>
        <!-- для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_desk.webp    1x,
            ./images/header-hero/hero-pictures/circle_desk@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_desk.png    1x,
            ./images/header-hero/hero-pictures/circle_desk@2x.png 2x
          "
          type="image/png"
        />

        <!-- для таблетки -->

        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_tab.webp    1x,
            ./images/header-hero/hero-pictures/circle_tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_tab.png    1x,
            ./images/header-hero/hero-pictures/circle_tab@2x.png 2x
          "
          type="image/png"
        />

        <!-- для мобильного экрана -->

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_mob.webp    1x,
            ./images/header-hero/hero-pictures/circle_mob@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/circle_mob.png    1x,
            ./images/header-hero/hero-pictures/circle_mob@2x.png 2x
          "
          type="image/png"
        />

        <img
          class="hero__cover-picture"
          src="./images/header-hero/hero-pictures/circle_mob.png"
          alt="Elipse-cover"
          min-width="284px"
          loading="lazy"
        />
      </picture>

      <!-- ICE_CREAM -->
      <picture>
        <!-- для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_desk.webp    1x,
            ./images/header-hero/hero-pictures/ice-cream_desk@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_desk.png    1x,
            ./images/header-hero/hero-pictures/ice-cream_desk@2x.png 2x
          "
          type="image/png"
        />

        <!-- для таблетки -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_tab.webp    1x,
            ./images/header-hero/hero-pictures/ice-cream_tab@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_tab.png    1x,
            ./images/header-hero/hero-pictures/ice-cream_tab@2x.png 2x
          "
          type="image/png"
        />

        <!-- для мобильного экрана -->

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_mob.webp    1x,
            ./images/header-hero/hero-pictures/ice-cream_mob@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/ice-cream_mob.png    1x,
            ./images/header-hero/hero-pictures/ice-cream_mob@2x.png 2x
          "
          type="image/png"
        />

        <img
          class="hero__main-cover"
          src="./images/header-hero/hero-pictures/ice-cream_mob.png"
          alt="icecream"
          min-width="171px"
          loading="lazy"
        />
      </picture>

      <h1 class="hero__title">
        ice cream made with <span class="hero__title-accent">passion</span>
      </h1>
      <div class="hero__button-wrap">
        <button class="hero__button-prod hero__button" type="button" href="#product-section">
          <a class=" hero-link hero__link-prod"  href="#product-section">
          Products
          </a>
        </button>
        <button class="hero__button-how hero__button" type="button"  >
           <a  class=" hero-link hero__link-how"  href="#">
          How it’s made?
          </a>
        </button>
      </div>

      <picture>
        <!-- для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/cup-of-milk_desk.webp    1x,
            ./images/header-hero/hero-pictures/cup-of-milk_desk@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/cup-of-milk_desk.png    1x,
            ./images/header-hero/hero-pictures/cup-of-milk_desk@2x.png 2x
          "
          type="image/png"
        />

        <!-- для таблетки -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/cup-of-milk_tab.webp    1x,
            ./images/header-hero/hero-pictures/cup-of-milk_tab@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/cup-of-milk_tab.png    1x,
            ./images/header-hero/hero-pictures/cup-of-milk_tab@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/header-hero/hero-pictures/cup-of-milk_tab.png"
          alt="cup-of-milk"
          class="hero__picture-left"
          min-width="152px"
          loading="lazy"
        />
      </picture>

      <div class="hero__wrap-left-part">
        <p class="hero__text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>

      <picture>
        <!-- для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/girl-ice_desk.webp    1x,
            ./images/header-hero/hero-pictures/girl-ice_desk@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/hero-pictures/girl-ice_desk.png    1x,
            ./images/header-hero/hero-pictures/girl-ice_desk@2x.png 2x
          "
          type="image/png"
        />

        <!-- для таблетки -->
        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/girl-ice_tab.webp    1x,
            ./images/header-hero/hero-pictures/girl-ice_tab@2x.webp 2x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 767px)"
          srcset="
            ./images/header-hero/hero-pictures/girl-ice_tab.png    1x,
            ./images/header-hero/hero-pictures/girl-ice_tab@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/header-hero/hero-pictures/girl-ice_tab.png"
          alt="girl-and-ice"
          class="hero__picture-right"
          min-width="190px"
          loading="lazy"
        />
      </picture>

      <div class="hero__wrap-info wrap-info-upper">
        <div class="hero__circle-in-box"></div>
        <p class="hero__number-text">16</p>
        <span class="hero__estab estab-upper">cafes</span>
      </div>

      <div class="hero__wrap-info wrap-info-under">
        <div class="hero__circle-in-box"></div>
        <p class="hero__number-text">23</p>
        <span class="hero__estab estab-under">food trucks</span>
      </div>
    </div>

    <!-- =================
    Мобильное меню
  ========================= -->

    <!-- ORIGIN -->

    <div class="mob-menu header__mob-menu" id="header__mob-menu" data-menu>
      <button class="mob-menu__btn-purchase" type="button">
        <span class="mob-menu__btn-text">Buy now</span>
      </button>

      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="">Home</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="">About us</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="#product-section">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a class="mob-menu__link" href="#contacts-section">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</section>
