<section class="product" id="product-section">
  <div class="container product-container">
    <p class="product__subtitle">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="product__grid">
      <li class="product__block product__cream">
        <h3 class="product__heading product__heading--cream">ice cream</h3>

        <div class="product__poprigun">
          <div class="product__ball"></div>
          <div class="product__ball"></div>
          <div class="product__ball"></div>
        </div>

        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product__button" type="button" data-compound__cream-open>
          <svg
            class="product__svg"
            width="15px"
            height="17px"
            aria-label="arrow to the right"
          >
            <use href="/src/images/Product.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <div
          class="compound compound__cream"
          data-compound__cream
          compound--is-hidden
        >
          <h4 class="compound__subtitle">compound</h4>
          <ol class="compound__scroll">
            <li class="compound__text">Milk - 200ml</li>
            <li class="compound__text">Chocolate - 150g</li>
            <li class="compound__text">Peanuts - 75g</li>
            <li class="compound__text">Jam - 20g</li>
            <li class="compound__text">What the fuck</li>
          </ol>
          <button
            class="product__button"
            type="button"
            data-compound__cream-close
          >
            <svg
              class="product__svg"
              width="15px"
              height="17px"
              aria-label="arrow to the right"
            >
              <use href="/src/images/Product.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__block product__coffee">
        <h3 class="product__heading product__heading--coffee">ice coffee</h3>

        <div class="product__poprigun">
          <div class="product__ball"></div>
          <div class="product__ball"></div>
          <div class="product__ball"></div>
        </div>

        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          class="product__button"
          type="button"
          data-compound__coffee-open
        >
          <svg
            class="product__svg"
            width="15px"
            height="17px"
            aria-label="arrow to the right"
          >
            <use href="/src/images/Product.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <div
          class="compound compound__coffee"
          data-compound__coffee
          compound-is-hidden
        >
          <h4 class="compound__subtitle">compound</h4>
          <ol class="compound__scroll">
            <li class="compound__text">Milk - 200ml</li>
            <li class="compound__text">Chocolate - 150g</li>
            <li class="compound__text">Peanuts - 75g</li>
            <li class="compound__text">Jam - 20g</li>
            <li class="compound__text">What the fuck</li>
          </ol>
          <button
            class="product__button"
            type="button"
            data-compound__coffee-close
          >
            <svg
              class="product__svg"
              width="15px"
              height="17px"
              aria-label="arrow to the right"
            >
              <use href="/src/images/Product.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__block product__milkshakes">
        <h3 class="product__heading product__heading--milkshakes">
          milkshakes
        </h3>

        <div class="product__poprigun">
          <div class="product__ball"></div>
          <div class="product__ball"></div>
          <div class="product__ball"></div>
        </div>

        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          class="product__button"
          type="button"
          data-compound__milkshakes-open
        >
          <svg
            class="product__svg"
            width="15px"
            height="17px"
            aria-label="arrow to the right"
          >
            <use href="/src/images/Product.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <div
          class="compound compound__milkshakes"
          data-compound__milkshakes
          compound--is-hidden
        >
          <h4 class="compound__subtitle">compound</h4>
          <ol class="compound__scroll">
            <li class="compound__text">Milk - 200ml</li>
            <li class="compound__text">Chocolate - 150g</li>
            <li class="compound__text">Peanuts - 75g</li>
            <li class="compound__text">Jam - 20g</li>
            <li class="compound__text">What the fuck</li>
          </ol>
          <button
            class="product__button"
            type="button"
            data-compound__milkshakes-close
          >
            <svg
              class="product__svg"
              width="15px"
              height="17px"
              aria-label="arrow to the right"
            >
              <use href="/src/images/Product.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
