<section class="swp">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swipper-image-cont">
                    <img class="swipper-image" src="./images/slider/testimonials.png" alt="Emily">
                    <div class="swipper-back">
                        <div class="swipper-p">
                            <p class="swipper-describe">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <ul class="quotes">
                        <li class="qou"></li>
                        <li class="qou"></li>
                        <li class="qou"></li>
                    </ul>
                    <p class="name">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swipper-image-cont">
                    <img class="swipper-image" src="./images/slider/testimonials1.png" alt="Beyonce">
                    <div class="swipper-back">
                        <div class="swipper-p">
                            <p class="swipper-describe">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <ul class="quotes">
                        <li class="qou"></li>
                        <li class="qou"></li>
                        <li class="qou"></li>
                    </ul>
                    <p class="name">Beyonce, New York</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swipper-image-cont">
                    <img class="swipper-image" src="./images/slider/testimonials2.png" alt="Shakira">
                    <div class="swipper-back">
                        <div class="swipper-p">
                            <p class="swipper-describe">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <ul class="quotes">
                        <li class="qou"></li>
                        <li class="qou"></li>
                        <li class="qou"></li>
                    </ul>
                    <p class="name">Shakira, Barcelona</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    </div>
</section>